* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 40px;
}
.header h1 {
  color: white;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: white;
  display: block;
}
nav ul li a:hover {
  color: yellow;
}

@media only screen and (max-width: 767px) {
  .header nav ul li a {
    display: none;
  }
}
/* section 1*/
.carousel-item {
  position: relative;
}
.carousel-caption h1 {
  position: absolute;
  bottom: 300px;
  left: 300px;
  font-size: 4rem;
}
.carousel-caption p {
  position: absolute;
  bottom: 280px;
  left: 600px;
}
@media screen and (max-width: 767px) {
  .carousel-item img {
    width: 100%;
  }
}
/* SECTION-2 */
.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}
.icon I {
  font-size: 4rem;
  color: darkgrey;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards p {
color: rgb(151, 151, 151);
}
.card {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 30px;
  padding: 20px;
}
.img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
/* section 3 */
#section {
  background-image: url("../img/review-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 60px;
}
.testimonials i {
  font-size: 5rem;
  position: absolute;
  top: 190px;
  color: white;
}
.testimonials h1,
p {
  color: white;
}
.testimonials h1 {
  position: absolute;
  top: 270px;
}
.testimonials p {
  position: absolute;
  top: 470px;
  width: 80%;
}
.testimonials h4 {
  color: rgb(218, 204, 15);
}
.testimonials h5 {
  color: white;
}
.clinet {
  display: flex;
  position: absolute;
  top: 600px;
}
@media screen and (max-width: 767) {
  .testimonials p {
    width: 100%;
  }
}

/* section-4  */
.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}
.icon-menu {
  font-size: 2rem;
}
.icon-menu i {
  color: rgba(223, 202, 15, 0.938);
}
.menu-cards i {
  color: rgba(223, 202, 15, 0.938);
}

.menu-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-cards p{
color: rgb(143, 142, 142);
}

.menu-card {
  width: 25%;
  margin: 0 30px;
}
.menu-card i{
display: flex;
justify-content: center;
align-items: center;
font-size: 2rem;
padding: 20px 0;
padding-right: 80px;

}
@media only screen and (max-width: 767px) {
  .menu-cards {
    flex-direction: column;
  }
  .menu-card {
    width: 100%;
  }
}
/* section-5 */
#img-section {
  background-image: url("../img/menu-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 50px;
}
.menu-section {
  position: relative;
}
.menu-section nav ul {
  position: absolute;
  left: 420px;
  top: 80px;
}
.div {
  display: flex;
}
.left p {
  color: dimgray;
}
.right p {
  color: dimgray;
}

.left {
  color: white;
  width: 50%;
  position: absolute;
  left: 50px;
  top: 200px;
}
.right {
  color: white;
  width: 50%;
  position: absolute;
  right: 10px;
  top: 200px;
}
.btn button {
  background-color: rgba(223, 202, 15, 0.938);
  position: absolute;
  left: 49px;
}
.menu-section button {
  background-color: blueviolet;
  position: absolute;
  top: 550px;
  right: 550px;
  border: none;
  padding: 20px 49px;
  background-color: rgba(223, 202, 15, 0.938);
}
@media screen and (max-width: 767px) {
  .left {
    flex-direction: column;
  }
  .right {
    flex-direction: column;
  }
  .div {
    flex-direction: column;
  }
}
/* footer  */
#footer {
  background-image: url("../img/vt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.contact-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
margin-bottom: 50px;
}
.contact-footer i{
  font-size: 3.5rem;
  color: darkgray;
}
.footer {
  background-color: white;
  width: 60%;
  padding: 100px 40px;
  position: absolute;
  left: 270px;
}
.left-input {
  width: 50%;

}
.right-input {
  width: 50%;
}
.left-input input{
  margin: 10px 0;
}
.input {
  display: flex;
}
.footer button{
  position: absolute;
  left: 300px;
bottom: 20px;
padding: 15px 25px;
border: none;
background-color: rgba(223, 202, 15, 0.938);
}
.footer p a{
  position: absolute;
  top: 480px;
  left: 100px;
  color: darkgray;

}
